@font-face{
  font-family:'Glyphicons Halflings';
  src:url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
  src:url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}

.leaflet-bar-timecontrol{
  margin-bottom: 20px !important;
  background-color: #FFF;
}

.leaflet-bar-horizontal a {
  float: left;
  border-right: 1px solid #ccc;
  border-bottom-width: 0px;
  text-decoration: none;
}

.leaflet-bar-horizontal a:hover {
  border-bottom-width: 0px;
}

.leaflet-bar-horizontal a:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
}

.leaflet-bar-horizontal a:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-right-width: 0px;
}

.leaflet-bar-timecontrol a.leaflet-control-timecontrol{
  height: auto;
  width: auto;
  padding: 4px 15px;
  font-size: 12px;
  line-height: 26px;
}

a.leaflet-control-timecontrol:hover{
  height: auto;
  width: auto;
}

a.timecontrol-date{
  padding-left: 30px;
}

a.timecontrol-date.timecontrol-loading{
  padding-left: 5px;
  background-color: #ffefa4;
}

a.timecontrol-date.timecontrol-loading:before{
  font-family: "Glyphicons Halflings";
  content: "\e031";
  width: 25px;
  display: inline-block;
  line-height: 20px;
  -webkit-animation: rotation 12s infinite linear;
}


.leaflet-bar-timecontrol a.timecontrol-slider{
  height: auto;
  width: 300px;
  padding: 4px 15px;
}

a.timecontrol-slider .ui-slider{
  margin-top: 8px;
  margin-bottom: 7px;
  height: 9px;
}

a.timecontrol-slider .ui-slider-handle{
  border-bottom: 1px !important;
  width: 5px;
  height: 17px;
  border-width: 1px;
  border-color: #a5a5a5;
  border-radius: 4px;
  padding: 0 2px;
}

.leaflet-bar-timecontrol a.timecontrol-speed{
  width: 160px;
}

a.timecontrol-speed span.speed{
  display: inline-block;
  float: left;
  width: 50px;
  height: 26px;
  white-space: nowrap;
  text-align: left;
}

a.timecontrol-speed .ui-slider{
  margin-left: 55px;
}

a.timecontrol-speed span.speed:before{
  font-family: "Glyphicons Halflings";
  content: "\e141";
  padding-right: 5px;
}

a.timecontrol-play:before {
  font-family: "Glyphicons Halflings";
  content: "\e072";
}
a.timecontrol-pause:before {
  font-family: "Glyphicons Halflings";
  content: "\e073";
}

@-webkit-keyframes rotation {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

a.timecontrol-play-loading{
    background-color: #ffefa4;
    position: relative;
}

a.timecontrol-play-loading span{
  display: inline-block;
  width: 0;
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: bold;
}

a.timecontrol-play-loading:before {
  font-family: "Glyphicons Halflings";
  content: "\e031";
  opacity: 0.2;
  -webkit-animation: rotation 12s infinite linear;
}
a.timecontrol-stop:before {
  font-family: "Glyphicons Halflings";
  content: "\e074";
}
a.timecontrol-forward:before {
  font-family: "Glyphicons Halflings";
  content: "\e075";
}
a.timecontrol-backward:before {
  font-family: "Glyphicons Halflings";
  content: "\e071";
}
